<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LocationMapper">
	<cache />
	<select id="selectLocationList" parameterType="String" resultType="com.auto.sensing.vo.LocationVO">
		SELECT
			*
		FROM location_tb
		WHERE projectid = #{projectid}
	</select>
	
	<select id="selectLocation" parameterType="Integer" resultType="com.auto.sensing.vo.LocationVO">
		SELECT
			*
		FROM location_tb
		WHERE location_sn = #{location_sn}
	</select>
	
	<insert id="insertLocation" parameterType="com.auto.sensing.vo.LocationVO">
		INSERT INTO location_tb
		(
			location_sn
			, location_nm
			, projectid
		) VALUES (
			nextval(location_seq)
			, #{location_nm}
			, #{projectid}
		)
	</insert>
	
	<update id="updateLocation" parameterType="com.auto.sensing.vo.LocationVO">
		UPDATE location_tb SET
			location_nm = #{location_nm}
			, projectid = #{projectid}
		WHERE location_sn = #{location_sn}
	</update>
	
	<select id="chaeckLocationName" parameterType="com.auto.sensing.vo.LocationVO" resultType="Integer">
		SELECT
			COUNT(*) AS CNT
		FROM location_tb
		WHERE projectid = #{projectid}
		AND location_nm = #{location_nm}
	</select>
	
	<select id="selectLocationListByPage" parameterType="com.auto.sensing.vo.PageVO" resultType="com.auto.sensing.dto.LocationDTO">
		SELECT
			TB1.*
			,TB2.projectname 
		FROM location_tb TB1 LEFT JOIN project_tb TB2
		ON TB1.projectid = TB2.projectid
		<trim prefix="where" prefixOverrides="AND">
			<if test="search.keyword != null and search.keyword !=''">
				<if test="search.keywordType == 'userid'">
					userid = #{search.keyword}
				</if>
			</if>
		</trim>
	</select>

	<select id="selectLocationCntByPage" parameterType="com.auto.sensing.vo.PageVO" resultType="Integer">
		SELECT
			COUNT(*)
		FROM location_tb TB1 LEFT JOIN project_tb TB2
		ON TB1.projectid = TB2.projectid
		<trim prefix="where" prefixOverrides="AND">
			<if test="search.keyword != null and search.keyword !=''">
				<if test="search.keywordType == 'userid'">
					userid = #{search.keyword}
				</if>
			</if>
		</trim>
	</select>

</mapper>